.message-list {
  display: flex;
  flex-direction: column;
  gap: 1rem !important;
  background-color: #f1f1f1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 1rem;
  border: #dcdff3 solid 2px;
  border-radius: 5px;
}

.message-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #1a1a1a;
  font-weight: 300;
}

.message-divider::before,
.message-divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #262626;
}

.message-divider:not(:empty)::before {
  margin-right: 0.25em;
}

.message-divider:not(:empty)::after {
  margin-left: 0.25em;
}
